<div class="bg">
    <div class="back-ground">
        <img src="assets/Images/client-register-1.png">
    </div>
    <div class="parent">
            <div class="head">
                <h1 >Client Register</h1>
            </div >
            <form  #regforClientForm="ngForm" (ngSubmit)="regClient(regforClientForm)">
               
                <input type="text" name="firstName" ngModel #firstName="ngModel" required minlength="5" maxlength="15" placeholder="Enter Your First Name">
                <p style="color: red;" *ngIf="firstName.errors?.['required'] && firstName.touched"class="notify">Please enter the first name</p>
                <p style="color: red;" *ngIf="firstName.errors?.['minlength'] && firstName.touched" class="notify">First name must be at least 5 characters</p>

               
                <input type="text" name="lastName" ngModel #lastName="ngModel" required minlength="5" maxlength="15" placeholder="Enter Your Last Name">
                <p style="color: red;" *ngIf="lastName.errors?.['required'] && lastName.touched" class="notify">Please enter the last name</p>
                <p style="color: red;" *ngIf="lastName.errors?.['minlength'] && lastName.touched" class="notify">Last name must be at least 5 characters</p>

                
                <input type="email" name="email" ngModel #email="ngModel" required  minlength="6"  maxlength="35" email placeholder="Enter Your Email">
                <p style="color: red;" *ngIf="email.errors?.['required'] && email.touched" class="notify">Email is required</p>
                <p style="color: red;" *ngIf="email.errors?.['email'] && email.touched" class="notify">Please enter a valid email address</p>
                <p style="color: red;" *ngIf="email.errors?.['minlength']&& email.touched" class="notify">Email must be greater than 6 characters</p>
                <p style="color: red;" *ngIf="email.errors?.['maxlength'] && email.touched" class="notify">Email more than 25 characters</p>
               
               
                <input type="password" name="password" ngModel #password="ngModel" required minlength="8" maxlength="15" placeholder="Enter Your Password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                <p style="color: red;" *ngIf="password.errors?.['required'] && password.touched" class="notify">Password is required</p>
                <p style="color:red;" *ngIf="password.errors?.['pattern'] && password.touched" class="notify">Password must Contain 8 character ,1 UpperCase,1 LowerCase ,1 Special Character and 1 Digit</p>


                <input type="password" name="cPassword" ngModel #cPassword="ngModel" required minlength="8" maxlength="15" placeholder="Confirm Your Password">
                <p style="color: red;" *ngIf="cPassword.errors?.['required'] && cPassword.touched"class="notify">Please confirm your password</p>
                <p style="color: red;" *ngIf="cPassword.errors?.['minlength'] && cPassword.touched" class="notify">Password must be at least 8 characters</p>
                <p style="color: red;" *ngIf="cPassword.errors?.['maxlength'] && cPassword.touched" class="notify">Password must not exceed 15 characters</p>
                <p style="color: red;" *ngIf="cPassword.value !==password.value && cPassword.touched" class="notify">Passwords do not match</p>

                

               <span class="agree-container"><input type="checkbox" name="terms" style="padding: 2px;" ngModel required> <span class="agree"> I ,Agree to the Terms and Conditions</span></span> 
               <ngx-recaptcha2 style="align-items: center;" #captchaElem [siteKey]="siteKey" (onSuccess)="captchaCompleted = true"></ngx-recaptcha2>
                <button type="submit" class="btn btn-danger" [disabled]="regforClientForm.invalid">Register</button>
            </form>
            <span class="OR">Or</span>
            <p>Already have an account?<span style="padding: 2px;" class="nav-Link" routerLink="/login"><a href="">Login</a></span> </p>
        
    </div>
</div>
