.bg {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

  .back-ground {
    height: 500px; 
}

.back-ground img {
    vertical-align: bottom;
    border-style: none;
    height: 100%;
    width: auto; 
}

@media (max-width: 768px) {
  .bg {
    display: flex;
    flex-direction: column;
  }
  .back-ground img {
    padding-top: 200px;
    height: 500px;
    width: 90%;
    margin-top: 30px;
  }
  .parent {
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 30px;

      
  }
}

@media (min-width:768px) and (max-width:1368px) {
  .bg {
    display: flex;
    flex-direction: column;
  }
  .back-ground img {
    padding-top: 200px;
    height: 500px;
    width: 90%;
    margin-top: 30px;
  }
  .parent {
      padding: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
}

.parent {
    /* height: 100%; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 
        15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px 15px 15px 15px rgba(67, 54, 54, 0.1), 
        -15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px -15px 15px 15px rgba(67, 54, 54, 0.1); 
    padding: 20px;
    box-sizing: border-box;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    width: 90%;
    max-width: 400px;
    margin: auto; 
  }
  
  .head {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .head h1 {
    align-items: center;
    /* margin-left: 55px; */
    color: #333;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="number"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .agree {
    font-size: 12px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #627ea5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:disabled {
    background-color: #0a3fd2;
    cursor: not-allowed;
  }
  
  .reg {
    text-align: center;
    margin-top: 20px;
  }
  
  .reg p {
    margin: 0;
  }
  
  .reg a {
    color: #007bff;
    text-decoration: none;
  }
  
  .reg a:hover {
    text-decoration: underline;
  }
  
  .agree-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.agree-container input[type="checkbox"] {
    margin-right: 10px;
}

.agree {
    font-size: 12px;
}

.OR {
  margin-top: 20px;
}

.notify {
  font-size:x-small;
}