<div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let cart of cartItems">
        <div class="card mb-3 service-card">
          <img [src]="cart.image" width="200px" height="300px" class="card-img-top" alt="{{cart.cName}}"/>
          <div class="card-body text-center">
            <h5 class="card-title mb-3"><strong>Service Name</strong><span>{{cart.serName}}</span></h5>
            <p class="card-text"><strong>Description:</strong> <span class="larger-text">{{ cart.descr }}</span></p>
            <p class="card-text"><strong>Price<span>{{cart.price}}</span></strong></p>
            <button class="btn btn-danger" (click)="deletecartIems(cart.cartId)">Remove From Cart</button>
            <button class="btn btn-success"   data-bs-toggle="modal" data-bs-target="#staticBackdrop"  (click)="book(cart)" >Book Now</button>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form  #bookForm="ngForm"  (ngSubmit)="bookservices(bookForm.value.custId)">
            <div class="form-group">
              <label for="imageUrl">service Name</label>
              <input type="text" class="form-control" id="serviceType" name="serName" [(ngModel)]="bookServe.serName" required>
            </div>
            <div class="form-group">
              <label for="companyName">Price</label>
              <input type="text" class="form-control" id="servicePrice" name="servicePrice" [(ngModel)]="bookServe.price" required>
            </div>
            <div class="form-group">
              <label for="description">Date</label>
              <input type="date" class="form-control" id="description" name="date" [(ngModel)]="bookServe.date" required>
            </div>
            <div class="form-group">
              <label for="mobileNumber">Adress</label>
              <input type="text" class="form-control" id="address" name="adress" [(ngModel)]="bookServe.adress" required>
  
            </div>
            <div class="form-group">
              <label for="servicePrice">Mobile Number</label>
              <input type="text" class="form-control" id="number" name="number" [(ngModel)]="bookServe.number" required>
            </div>
            
            <button type="submit" [disabled]="!bookForm.valid"  class="btn btn-primary" >Pay Now</button>
          </form>
      
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>
  
  