h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #FFEAE3 ;
}



.container{
    height: 100vh;
}
body{
    padding: 0%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

table{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: auto; 
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px -8px rgba(0, 0, 0, 0.2);

}

tr{
    transition: all .2s ease-in;
    cursor: pointer; 
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
}

tbody:hover{
    background-color: #CAF4FF;
    transform: scale(1.02);
}

.head {
    background-color: #EEF7FF;
   
}