.mainDiv{
    display: flex;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 
        15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px 15px 15px 15px rgba(67, 54, 54, 0.1), 
        -15px 0px 15px 15px rgba(67, 54, 54, 0.1), 
        0px -15px 15px 15px rgba(67, 54, 54, 0.1); 
  }
  
  .head {
    text-align: center;
    margin-bottom: 20px;
  }
  
   h1 {
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    text-shadow: 2px 2px 4px #666666;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color:black;
  }
  
  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form textarea {
    min-height: 100px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #627ea5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button[type="submit"]:disabled {
    background-color: #0a3fd2;
    cursor: not-allowed;
  }
  
  .reg {
    text-align: center;
    margin-top: 20px;
  }
  
  .reg a {
    color: #007bff;
    text-decoration: none;
  }
  
  .reg a:hover {
    text-decoration: underline;
  }
  input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

.error-message {
  color: red;
  font-size: 12px;
}