<div class="mainDiv">
    <div class="container">
      <form #serviceForm="ngForm" (ngSubmit)="serviceReg(serviceForm)">
        <div>
          <h1>Add Services</h1>
        </div>
        <div>
          <label for="name">Enter Company Name</label>
          <input type="text" name="companyName" id="name" ngModel #name="ngModel" placeholder="Enter Name" required minlength="5">
          <div class="error-message" *ngIf="name.errors?.['required'] && name.touched">Enter name</div>
          <div class="error-message" *ngIf="name.errors?.['minlength'] && name.touched">Enter minimum 5 characters</div>
        </div>
        <div>
            <label for="email">Enter Email</label>
            <input type="email" name="email" id="email" ngModel #email="ngModel" placeholder="Enter the email" required minlength="6" maxlength="25">
            <div class="error-message" *ngIf="email.errors?.['required'] && email.touched">Email is required</div>
            <div class="error-message" *ngIf="email.errors?.['email'] && email.touched">Please enter a valid email address</div>
            <div class="error-message" *ngIf="email.errors?.['minlength'] && email.touched">Email must be greater than 6 characters</div>
            <div class="error-message" *ngIf="email.errors?.['maxlength'] && email.touched">Email cannot be more than 25 characters</div> 
          </div>
    
        <div>
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="imageUrl" ngModel #imageUrl="ngModel" placeholder="Enter image tinyURL" required maxlength="10000">
          <div class="error-message" *ngIf="imageUrl.errors?.['required'] && imageUrl.touched">Image URL is required.</div>
        </div>
        
        <div>
          <label for="service">Enter type of service</label>
          <input type="text" name="serviceType" id="service" ngModel #service="ngModel" placeholder="Enter type of service" required minlength="5">
          <div class="error-message" *ngIf="service.errors?.['required'] && service.touched">Enter service</div>
          <div class="error-message" *ngIf="service.errors?.['minlength'] && service.touched">Enter minimum 5 characters</div>
        </div>
        
    
        <div>
          <label for="description">Enter Service Description</label>
          <textarea name="description" id="description" ngModel #description="ngModel" placeholder="Enter Service description" required minlength="20"></textarea>
          <div class="error-message" *ngIf="description.errors?.['required'] && description.touched">Enter description</div>
          <div class="error-message" *ngIf="description.errors?.['minlength'] && description.touched">Enter minimum 20 characters</div>
        </div>
        
        
        
  
        <div>
          <label for="price">Enter Price</label>
          <input type="text" name="servicePrice" id="price" ngModel #price="ngModel" placeholder="Enter the price" required>
          <div class="error-message" *ngIf="price.errors?.['required'] && price.touched">Enter price</div>
        </div>
    
        <button type="submit" [disabled]="!serviceForm.form.valid">Submit</button>
      </form>
    </div>
  </div>