<!-- <div class="search-container">
  <div class="search-bar">
    <input class="ip" type="text" [(ngModel)]="searchInput"   style="padding-left: 30px;"  placeholder="Search Here"> 
    <button class="btn btn-success" (click)="filterProducts()">Search</button>
  </div>
</div>

<div *ngIf="filterproducts.length === 0" class="result">Results not found
  <i class='far fa-frown' style='font-size:170px;'></i>
  </div> -->

<div *ngIf="filterproducts.length > 0">
<div class="div1">
<div class="row">
  <div class="col-12 col-md-6 col-lg-4" *ngFor="let serv of services">
    <div class="card mb-3 service-card">
      <img [src]="serv.imageUrl" width="200px" height="300px" class="card-img-top" alt="{{ serv.companyName }}">
      <div class="card-body text-center">
        <h5 class="card-title mb-3"><strong>Name:</strong> <span class="larger-text">{{ serv.companyName }}</span></h5>
        <p class="card-text"><strong>Description:</strong> <span class="larger-text">{{ serv.description }}</span></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Service Type:</strong> <span class="larger-text">{{ serv.serviceType }}</span></li>
          <li class="list-group-item"><strong>Service Price:</strong> <span class="larger-text">{{ serv.servicePrice }}</span></li>
        </ul>
        <div class="form-group">
          <button class="btn btn-danger me-3" (click)="addToCart(bookServe)">Add to Cart</button>
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="book(bookServe)">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #bookForm="ngForm"  (ngSubmit)="bookservices(bookForm.value.custId)">
          <div class="form-group">
            <label for="imageUrl">service Name</label>
            <input type="text" class="form-control" id="serviceType" name="serviceType" [(ngModel)]="bookServe.serviceType" required>
          </div>
          <div class="form-group">
            <label for="companyName">Price</label>
            <input type="text" class="form-control" id="servicePrice" name="servicePrice" [(ngModel)]="bookServe.servicePrice" required>
          </div>
          <div class="form-group">
            <label for="description">Date</label>
            <input type="date" class="form-control" id="description" name="date" [(ngModel)]="bookServe.date" required>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Adress</label>
            <input type="text" class="form-control" id="address" name="adress" [(ngModel)]="bookServe.adress" required>

          </div>
          <div class="form-group">
            <label for="servicePrice">Mobile Number</label>
            <input type="text" class="form-control" id="number" name="number" [(ngModel)]="bookServe.number" required>
          </div>
          
          <button type="submit" [disabled]="!bookForm.valid"  class="btn btn-primary" >Pay Now</button>
        </form>
    
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div>

