/* You can add global styles to this file, and also import other style files */
.toastr {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #333;
  }

  .e-toast-container .e-toast .e-toast-message .e-toast-title {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.e-toast-container .e-toast .e-toast-message .e-toast-content {
    color: aqua;
    font-size: 13px;
    font-weight: normal;
}