.start {
    /* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 1.4000000000000001px, #e5e5f7 1.4000000000000001px);
background-size: 28px 28px; */
/* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(#444cf7 1.05px, #e5e5f7 1.05px);
background-size: 21px 21px; */
}
.div1{
    width: 700px;
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
    background-color: #f2f2f2; 
}

#img1{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#img1:hover{
    transform: scale(1.1);
}
#img2{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}
#img2:hover{
    transform: scale(1.1);
}
#img3{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}
#img3:hover{
    transform: scale(1.1);

}
#img1:hover{
    transform: scale(1.1);
}
#img4{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
#img4:hover{
    transform: scale(1.1);
}
#img5{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}
#img5:hover{
    transform: scale(1.1);
}
#img6{
    margin: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

}
#img6:hover{
    transform: scale(1.1);
}
.maindiv{
    display: flex;
}

img[src="assets/Images/AC.jpeg"],
        img[src="assets/Images/Bike.png"] {
            height: 180px; 
        }

        img[src="assets/Images/BP.webp"] {
            max-width: 100%;
        }
        .i {
            margin: 30px;
            gap: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            cursor: pointer;
        }
        
        .item {
            text-align: center;
        }
        
        .img-container {
            margin-bottom: 10px; 
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
        }
        
        .img-container:hover {
            transform: scale(1.1);
        }
        

 #h1{
    margin-top: 100px;
 }

 #d{
    margin-top: 200px;
 }

 .item {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px; 
     
}

.img-container {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.img-container:hover {
    transform: scale(1.1);
}

.stars {
    color:grey;
    font-size: 24px;
}

.rating-text {
    margin-left: 5px;
}


.maindiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.div1 {
    width: 100%; 
    text-align: center; 
}

.div2 {
    display: flex;
 
    flex-wrap: wrap; 
    justify-content: center; 
}

.div2 img {
    margin: 5px;
}

@media only screen and (max-width: 800px) {
    .maindiv {
        flex-direction: column; 
    }
}



.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    flex: 0 0 calc(33.33% - 20px); 
    margin-bottom: 20px;
}

.category h3 {
    margin-bottom: 10px; 
}
.main {
    
    width: 100%; 
    height: auto;
    border-radius: 10px;
    margin: 80px auto; 
}

.main img {
    align-items: center;
    width: 90%;
    height: 500px;

    padding-left: 140px;
}



h3,h4{
    color:black;
}

/* Styles for screens smaller than 800px */
@media only screen and (max-width: 786px) {
    .maindiv {
        flex-direction: column; /* Change to a column layout for smaller screens */
    }

    .div1 {
        width: 90%; /* Adjust width for better fit on smaller screens */
        margin: 20px auto; /* Center the div horizontally */
    }

    .div2 img {
        width: 45%; /* Adjust image width for better fit on smaller screens */
    }

    .main {
        width: 100%; /* Adjust width for better fit on smaller screens */
        margin: 20px auto; /* Center the div horizontally */
    }

    .main img {
        width: 100%;
        padding-left: 0px;
    }

    .category {
        flex: 0 0 calc(50% - 20px); /* Adjust category width for better fit on smaller screens */
    }
}
