<div *ngIf="!closeForgotForm" class="outerContainer">
    <div class="innercontainer">
        <div>
            <h2>Forgot Password</h2>
        </div>
        <div>
            <form action="" #forgotPasswordForm="ngForm" (ngSubmit)="forgotpassword(forgotPasswordForm)">
                <input type="email" name="email" ngModel required placeholder="Enter Your Email" required>
                <button *ngIf="!otpSent" type="submit" >Send Otp</button>
            </form>
            <p *ngIf="otpSent" style="color: green; text-shadow: 1px 1px 1px black; font-weight: bolder;">Otp was Sent,Please Check Your Email</p>
        </div>
        <div>
            <form action="" #otpForm="ngForm" (ngSubmit)="otpSubmit(otpForm.value.otp)">
                <input type="number" name="otp" #otp="ngModel" ngModel placeholder="Enter Your Otp">
                <button [disabled]="!otpForm.valid" data-bs-toggle="modal" data-bs-target="#exampleModal"  >Verify OTP</button>
            </form>
        </div>
    </div>
     
</div>






  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Your Password</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


            <form #newPasswordForm="ngForm" (ngSubmit)="resetPassword(newPasswordForm)">

                <label for="">Enter Your Email</label>
                <input type="email" name="email"  class="form-control"  required ngModel #email="ngModel"  minlength="8" maxlength="30"/>
                <div ><p style="color: red;" *ngIf="email.errors?.['required'] && email.touched">Please Enter Your Email</p>
                <p style="color: red;" *ngIf="email.errors?.['email'] && email.touched" class="notify">Please enter a valid email address</p>
                <p style="color: red;" *ngIf="email.errors?.['minlength'] && email.touched" class="notify">Email must be greater than 6 characters</p>
                <p style="color: red;" *ngIf="email.errors?.['maxlength'] && email.touched" class="notify">Email must not exceed 25 characters</p></div>

                <label>New Password <span style="color: red;">*</span></label>
                <input type="password" name="password"  class="form-control" required ngModel #password="ngModel" minlength="8"
                    pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&^])[A-Za-z\d@$!%*?&^]{8,}" />
    
                <div style="color: red;">
                    <p *ngIf="password.errors?.['required'] && password.touched">Please provide the Password</p>
                    <p *ngIf="password.errors?.['minlength'] && password.touched">Please provide atleast 8 characters for
                        password</p>
                    <p *ngIf="password.errors?.['pattern'] && password.touched">Password must contain at least one uppercase
                        letter, one lowercase letter, one numeric digit, and one special character (excluding '.')</p>
                </div>
    
                <label>Confirm Password <span style="color: red;">*</span></label>
                <input type="password"   class="form-control" name="password1" required ngModel #password1="ngModel" />
    
                <div>
                    <p style="color: red;" *ngIf="!(password.value === password1.value) && password1.touched">Password
                        should match!</p>
                </div>
    
                <button type="submit"   [disabled]="password1.invalid || !(password.value === password1.value)" >Confirm</button>
    
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
