* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 
    15px 0px 15px 15px rgba(67, 54, 54, 0.1), /* Left shadow */
    0px 15px 15px 15px rgba(67, 54, 54, 0.1), /* Bottom shadow */
    -15px 0px 15px 15px rgba(67, 54, 54, 0.1), /* Right shadow */
    0px -15px 15px 15px rgba(67, 54, 54, 0.1); /* Top shadow */

    
}

.back-ground {
    
    height: 400px; 
}

.back-ground img {
    
    vertical-align: bottom;
    border-style: none;
    height: 100%;
    width: auto; 
}

.reg h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2f56c2;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #4c84e3; 
}

@media (max-width: 768px) {
    .maincontainer {
      display: flex;
      flex-direction: column;
    }
    .back-ground img {
      /* padding-top: 200px; */
      height: 280px;
      width: 100%;
      margin-top: 120px;
    }
    .container {
        
        padding: 20px;
        /* margin-top: 10px; */
        margin-bottom: 300px;
    }
  }


  @media (min-width:768px) and (max-width:1368px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
      }
      .back-ground img {
        /* padding-top: 200px; */
        height: 280px;
        width: 100%;
        margin-top: 120px;
      }
      .container {
          
          padding: 20px;
          /* margin-top: 10px; */
          margin-bottom: 300px;
      }
  } 