<h1>My Services</h1>
<div class="row">
  <div class="col-12 col-md-4" *ngFor="let serv of services">
    <div class="card mb-3">
      <img [src]="serv.imageUrl" width="200px" height="300px" class="card-img-top" alt="{{ serv.companyName }}">
      <div class="card-body text-center">
        <h5 class="card-title mb-4"><strong>Name:</strong> <span class="larger-text">{{ serv.companyName }}</span></h5>
        <p class="card-text"><strong>Description:</strong> <span class="larger-text">{{ serv.description }}</span></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Service Type:</strong> <span class="larger-text">{{ serv.serviceType }}</span></li>
          <li class="list-group-item"><strong>Mobile Number:</strong> <span class="larger-text">{{ serv.mobileNumber }}</span></li>
          <li class="list-group-item"><strong>Technician Name:</strong> <span class="larger-text">{{ serv.technicianName }}</span></li>
          <li class="list-group-item"><strong>Service Price:</strong> <span class="larger-text">{{ serv.servicePrice }}</span></li>
        </ul>
        <div class="row mt-3">
          <div class="col">
            <button class="btn btn-primary btn-sm" type="button"   data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="editServices(serv)">Update</button>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm" (click)="deleteservices(serv.servicesId)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Service</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateService()">
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" [(ngModel)]="servToUpdate.imageUrl" required>
          </div>
          <div class="form-group">
            <label for="companyName">Company Name</label>
            <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="servToUpdate.companyName" required>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="servToUpdate.description" required>
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile Number</label>
            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="servToUpdate.mobileNumber" required>
          </div>
          <div class="form-group">
            <label for="servicePrice">Service Price</label>
            <input type="text" class="form-control" id="servicePrice" name="servicePrice" [(ngModel)]="servToUpdate.servicePrice" required>
          </div>
          <div class="form-group">
            <label for="technicianName">Technician Name</label>
            <input type="text" class="form-control" id="technicianName" name="technicianName" [(ngModel)]="servToUpdate.technicianName" required>
          </div>
          <button type="submit" class="btn btn-primary" >Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>